{% include 'includes/rasp_header.html' %}

        <title>Home</title>

        <header>
            <h1>List of all the modules availables</h1>
        </header>

        <div style="display: flex;">
            <main style="flex-grow: 1; padding: 10px;">     
            <table class="justify-content-center" border="1" id="tankTable-{{ nation }}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>

                    </tr>
                </thead>
                <tbody>
                    <tr><td><a class="nav-link" href="/data-tracker">Data Tracker</a></td><td>???</td></tr>
                    <tr><td><a class="nav-link" href="https://raspberrypi:10000/">Webmin Raspberrypi</a></td><td>???</td></tr>
                    <tr><td><a class="nav-link" href="https://elitedesk:10000/">Webmin Elitedesk</a></td><td>???</td></tr>
                    <tr><td><a class="nav-link" href="http://elitedesk:8080/">AMP</a></td><td>???</td></tr>
                </tbody>
            </table>
    </main>
</div>

{% include 'includes/footer.html' %}
