{% include 'includes/header.html' %}
<title>{{ tank.name }} details</title>

<header>
    <h1>{{ tank.full_name }}</h1>
</header>

<main>
<div class="tank-container">
    <div class="tank-info">
        <p><strong>Nation :</strong> {{ tank.nation }}</p>
        <p><strong>Class :</strong> {{ tank.class }}</p>
        <p><strong>Tier :</strong> {{ tank.tier }}</p>
        <p><strong>Type :</strong> {{ tank.type }}</p>
        <p><strong>Mastery Badge :</strong>
            {% if tank.mastery == 4 %}
                <img src="{{ url_for('static', filename='images/4.webp') }}" alt="Ace Mastery Badge" class="mastery">
            {% elif tank.mastery == 3 %}
                <img src="{{ url_for('static', filename='images/3.webp') }}" alt="1st Class Mastery Badge" class="mastery">
            {% elif tank.mastery == 2 %}
                <img src="{{ url_for('static', filename='images/2.webp') }}" alt="2nd Class Mastery Badge" class="mastery">
            {% elif tank.mastery == 1 %}
                <img src="{{ url_for('static', filename='images/1.webp') }}" alt="3rd Class Mastery Badge" class="mastery">
            {% else %}
                <img src="{{ url_for('static', filename='images/0.webp') }}" alt="No Mastery Badge" class="mastery">
            {% endif %}
        </p>
        {% if tank.tier > 4 and tank.moe > 0 %}
        <p><strong>Mark of Excellence :</strong>
            {% set moe_image_path = 'images/moes/' ~ tank.nation_code|lower ~ '_' ~ tank.moe ~ '_mark.webp' %}
            <img src="{{ url_for('static', filename=moe_image_path) }}" 
                 alt="{{ tank.moe }} Mark(s) of Excellence for {{ tank.nation }}" 
                 class="moe">
        {% endif %}
        </p>
    </div>
    <div class="tank-image">
        {% set sanitized_name = tank.name | replace('/', '_') | replace('*', '_') | replace(':', '_') | replace('<', '_') | replace('>', '_') | replace('"', '_') | replace('|', '_') | replace('?', '_') | replace('\\', '_') %}
        {% if tank.name == 'Chi-Ha' and tank.nation == 'China' %}
            {% set tank_image_path = 'images/tank/Chi_Ha.png' %}
        {% elif tank.name == 'IS-2' and tank.nation == 'China' %}
            {% set tank_image_path = 'images/tank/IS_2.png' %}
        {% else %}
            {% set tank_image_path = 'images/tank/' ~ sanitized_name ~ '.png' %}
        {% endif %}
        <img src="{{ url_for('static', filename=tank_image_path) }}" 
             alt="{{ tank.name }} Image" 
             onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/tank/default.png') }}';">
    </div>
    
</div>

    {% if tank.tier > 4 and tank.moe > 0 %}
    <p>
        <table class="justify-content-center" border="1">
            <thead>
                <tr>
                    {% for moe in moes %}
                        <th>{{ moe.moe_number }}{% if moe.moe_number == 1 %}st{% elif moe.moe_number == 2 %}nd{% elif moe.moe_number == 3 %}rd{% endif %} Moe</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="table-{{ tank.nation_code }}">
                <tr>
                    {% for moe in moes %}
                        <td>{{ moe.date_obtained }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </p>
    {% endif %}


    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('edit_tank', tank_id=tank.id) }}'">Edit</button>

    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('index') }}'">Back to the list</button>
</main>

{% include 'includes/footer.html' %}
