{% include 'includes/header.html' %}
<title>{{ tank.name }} details</title>

<header>
    <h1>{{ tank.full_name }}</h1>
</header>

<main>
<div class="tank-container">
    <div class="tank-info">
        <p><strong>WG id :</strong> {{ tank.wg_id }}</p>
        <p><strong>Nation :</strong> {{ tank.nation }}</p>
        <p><strong>Class :</strong> {{ tank.class }}</p>
        <p><strong>Tier :</strong> {{ tank.tier }}</p>
        <p><strong>Type :</strong> {{ tank.type }}</p>
        <p><strong>Mastery Badge :</strong>
            {% if tank.mastery == 4 %}
                <img src="{{ url_for('static', filename='images/mastery/4.webp') }}" alt="Ace Mastery Badge" class="mastery">
            {% elif tank.mastery == 3 %}
                <img src="{{ url_for('static', filename='images/mastery/3.webp') }}" alt="1st Class Mastery Badge" class="mastery">
            {% elif tank.mastery == 2 %}
                <img src="{{ url_for('static', filename='images/mastery/2.webp') }}" alt="2nd Class Mastery Badge" class="mastery">
            {% elif tank.mastery == 1 %}
                <img src="{{ url_for('static', filename='images/mastery/1.webp') }}" alt="3rd Class Mastery Badge" class="mastery">
            {% else %}
                <img src="{{ url_for('static', filename='images/mastery/0.webp') }}" alt="No Mastery Badge" class="mastery">
            {% endif %}
        </p>
        {% if tank.tier > 4 and tank.moe > 0 %}
        <p><strong>Mark of Excellence :</strong>
            {% set moe_image_path = 'images/moes/' ~ tank.nation_code|lower ~ '_' ~ tank.moe ~ '_mark.webp' %}
            <img src="{{ url_for('static', filename=moe_image_path) }}" 
                 alt="{{ tank.moe }} Mark(s) of Excellence for {{ tank.nation }}" 
                 class="moe">
        {% endif %}
        </p>
    </div>
    <div class="tank-image">
    <img src="{{ tank.api_image if tank.api_image else url_for('static', filename='images/default.png') }}" 
         alt="{{ tank.name }} Image"
         onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/default.png') }}';">
</div>
</div>
    {% if tank.tier > 4 and tank.moe > 0 %}
    <p>
        <table class="justify-content-center" border="1">
            <thead>
                <tr>
                    <th> 1st Moe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ moes[1] }}</td>
                </tr>
                <tr>
                    {% set moe_path = 'images/moe/tier '~ tank.tier ~ '/' ~ sanitized_name ~ ' moe n°1.jpg' %}
                    <td><img src="{{ url_for('static', filename=moe_path) }}"  alt="{{ tank.name }} moe n°1 Image" td>
                </tr>
            </tbody>
        </table>
        {% if tank.moe > 1 %}
        <table class="justify-content-center" border="1">
            <thead>
                <tr>
                    <th> 2nd Moe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ moes[2] }}</td>
                </tr>
                <tr>
                    {% set moe_path = 'images/moe/tier '~ tank.tier ~ '/' ~ sanitized_name ~ ' moe n°2.jpg' %}
                    <td><img src="{{ url_for('static', filename=moe_path) }}"  alt="{{ tank.name }} moe n°2 Image"></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        {% if tank.moe > 2 %}
        <table class="justify-content-center" border="1">
            <thead>
                <tr>
                    <th> 3rd Moe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ moes[3] }}</td>
                </tr>
                <tr>
                    {% set moe_path = 'images/moe/tier '~ tank.tier ~ '/' ~ sanitized_name ~ ' moe n°3.jpg' %}
                    <td><img src="{{ url_for('static', filename=moe_path) }}"  alt="{{ tank.name }} moe n°3 Image"></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </p>
    {% endif %}
        
    {% if is_logged_in %}                        
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('edit_tank', tank_id=tank.id) }}'">Edit</button>
    {% endif %}
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('data_tracker') }}'">Back to the list</button>
</main>

{% include 'includes/footer.html' %}
