{% include 'includes/header.html' %}
<title>Mentions légales</title>

<header>
    <h1>Mentions légales</h1>
</header>

<main>
    <section id="products">
        <h2>Clause de non-responsabilité</h2>
    
        <p>La responsabilité de l'auteur (Lev) ne peut en aucune manière être engagée quant au contenu des 
	informations figurant sur ce site ou aux conséquences pouvant résulter de leur 
	utilisation ou interprétation.</p>
    </section>
    
    <section id="Propriété">
        <h2>Propriété intellectuelle</h2>
    
        <p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur
            et la propriété intellectuelle. Toute exploitation à des fins commerciales est interdite.
            La reproduction de tout ou partie de ce site sur n'importe quel support, est formellement interdite</p>
    </section>
</main>

{% include 'includes/footer.html' %}
