<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Lev Tolstoï" />
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icones/tank.png') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Raspberrypi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/data-tracker">Home</a></li>
                        <li class="nav-item">
                            {% if is_logged_in %}
                                <a class="nav-link" href="/data-tracker/add_moe">Add a moe</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if is_logged_in %}
                                <a class="nav-link" href="/data-tracker/add_tank">Add a Tank</a>
                            {% endif %}
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/data-tracker/charts">Charts</a></li>
			            <li class="nav-item">
                            {% if is_logged_in %}
                                <a class="nav-link" href="/data-tracker/image">Image</a> 
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if is_logged_in %}
                                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                            {% else %}
                                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"></h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
