{% include 'includes/bp_header.html' %}
<title>Add Battle Pass Object</title>

<header>
    <h1>Add Battle Pass Object</h1>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <form method="POST">
                <label>Category</label><br>
                <select id="category" name="category" required>
                    <option value="Crew">Crew</option>
                    <option value="Currency">Currency</option>
                    <option value="Equipment">Equipment</option>
                    <option value="Exterior">Exterior</option>
                    <option value="Fragments">Fragments</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                    <option value="Reserve">Reserve</option>
                </select>
                <br><br>
                
                <label>Name</label><br>
                <input type="text" name="name" required><br><br>

                <label>Gold price</label><br>
                <input type="number" step="0.000001" name="gold_price"><br><br>

                <button type="submit" class="btn btn-primary">Add object</button>
            </form>
            <br>
        </div>
    </div>
</section>

{% include 'includes/footer.html' %}
