{% include 'includes/bp_header.html' %}
<title>Edit {{ bp.name }}</title>

<header>
    <h1>{% if bp %}Edit{% else %}Add{% endif %} Battle Pass</h1>
</header>

<main style="padding: 20px;">
    <section>
            <form method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" value="{{ bp.name if bp else '' }}" required><br><br>

                <label for="slug">Slug:</label>
                <input type="text" name="slug" id="slug" value="{{ bp.slug if bp else '' }}" {% if bp %}readonly{% endif %}><br><br>

                <label>Start Date:</label>
                <input type="date" name="start_date" value="{{ bp.start_date if bp else '' }}" required><br><br>

                <label>End Date:</label>
                <input type="date" name="end_date" value="{{ bp.end_date if bp else '' }}" required><br><br>

                <label>Chapters:</label>
                <input type="number" name="chapters" value="{{ bp.chapters if bp else 1 }}" required><br><br>

                <label>Stages per Chapter:</label>
                <input type="number" name="stages_per_chapter" value="{{ bp.stages_per_chapter if bp else 1 }}" required><br><br>

                <label>Points per Stage:</label>
                <input type="number" name="points_per_stage" value="{{ bp.points_per_stage if bp else 1 }}" required><br><br>

                <label>Article Link:</label>
                <input type="text" name="article_link" value="{{ bp.article_link if bp else '' }}"><br><br>

                <label>Highlighted tanks</label><br>
                <select name="tanks" multiple size="8">
                {% for tank in tanks %}
                    <option value="{{ tank.wg_id }}">
                        {{ tank.name }} ({{ tank.wg_id }})
                    </option>
                {% endfor %}
                </select>

                <h2 class="text-center">Base Rewards</h2>
                {% for category, items in bp_data|groupby('category') %}
                    <h3 class="text-center">{{ category }}</h3>

                    <table border="1" width="100%">
                    <tr>
                        <th>Object</th>
                        <th>Base</th>
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>
                            <input type="number" min="0"
                            name="base_{{ item.id }}"
                            value="{{ existing.get((item.id,0),0) if existing else 0 }}">
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                {% endfor %}

                <h2 class="text-center">Improved Rewards</h2>
                {% for category, items in bp_data|groupby('category') %}
                    <h3 class="text-center">{{ category }}</h3>

                    <table border="1" width="100%">
                    <tr>
                        <th>Object</th>
                        <th>Base</th>
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>
                            <input type="number" min="0"
                            name="base_{{ item.id }}"
                            value="{{ existing.get((item.id,0),0) if existing else 0 }}">
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                {% endfor %}

                <br>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('battle_pass_list') }}'">Cancel</button>
            </form>
    </section>
</main>

{% include 'includes/footer.html' %}
